.item_contact {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 20px;
}

.contact_list {
  list-style-type: circle;
  display: flex;
  flex-direction: column;
}

.item_button {
  margin-right: 20px;
  width: 100px;
  padding: 2px 2px;
}
